* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Monument Extended';
    font-weight: normal;
    font-size: 100%;
    background: #000;
    color: #fff;
}

a {
    text-decoration: none;
}


/*-------Header section start-------*/

header {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 5em 3em;
}

.header-box {
    height: 100%;
    display: flex;
    justify-content: ;
    flex-direction: column;
}

.header-box h1 {
    font-size: 6em;
    font-weight: normal;
}

.header-title {
    display: flex;
    justify-content: flex-end;
}

.header-title h2 {
    font-size: 1em;
    font-weight: normal;
    padding-left: 1em;
}

.nav-box {
    height: 100%;
}

.nav-box nav ul {
    display: flex;
    align-items: ;
    justify-content: space-between;
}

.nav-box nav ul li {
    list-style: none;
}

.nav-box nav ul li a {
    color: #fff;
    font-size: 1em;
}

.nav-box nav a:hover,
.nav-box nav a:focus {
    outline: none;
    text-decoration: line-through;
}

.navbar-hover-effect a::before,
.navbar-hover-effect a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: transform 0.3s, opacity 0.2s;
    -moz-transition: transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
    -ms-transition: transform 0.3s, opacity 0.2s;
    -o-transition: transform 0.3s, opacity 0.2s;
}

.navbar-hover-effect a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.navbar-hover-effect a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.navbar-hover-effect a:hover::before,
.navbar-hover-effect a:hover::after,
.navbar-hover-effect a:focus::before,
.navbar-hover-effect a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}


/*-------Header section end-------*/


/*-------About section start-------*/

#about {
    width: 100vw;
    height: 90vh;
}

.about-box {
    height: inherit;
    width: inherit;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0em 20em;
}

.btn-circle {
    z-index: 0;
    position: relative;
}

.btn-circle-svg {
    z-index: 0;
    position: relative;
}

.btn-circle-title {
    position: absolute;
    top: 40%;
    left: 30%;
}

.btn-circle-title p {
    font-family: 'exo';
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: rgb(61, 61, 61);
    opacity: 0.5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.btn-circle-title p:hover {
    color: #fff;
    opacity: 1;
}

.about-box-bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: ;
    position: absolute;
    top: 20%;
    left: 35%;
}

.aout-time {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10em;
}

.aout-time h1 {
    font-size: 8em;
}

.about-time-month {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-top: 2.2em;
}

.about-time-month h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: normal;
}

.about-time-month h3 {
    font-family: 'exo';
    font-size: 1em;
    font-weight: 300;
}

.about-box p {
    font-family: 'exo';
    width: 50em;
    line-height: 2em;
    color: #d4d4d4;
}

.about-box span {
    font-family: 'Monument Extended';
    color: #fff;
}


/*-------About section end-------*/


/*------Portfoli section start-------*/

#portfolio {
    width: 100vw;
    height: 240vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-title-prtfolio h1 {
    font-size: 7em;
    text-align: ;
}

.portfolio-item {
    width: 70vw;
    height: 25vh;
    display: flex;
    justify-content: space-around;
    margin-top: 10em;
}

.portfolio-item-text {
    width: 30%;
    height: inherit;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio-item-text p {
    font-size: 1em;
    font-family: 'exo';
    display: flex;
    justify-content: flex-end;
}

.portfolio-item-text h1 {
    font-weight: normal;
    justify-content: flex-start;
}

.portfolio-item-image {
    background-color: rgb(112, 112, 112);
    width: 70%;
    height: inherit;
}


/*-------Portfolio section end-------*/


/*-------Resume section start-------*/

#resume {
    width: 100vw;
    height: 100vh;
}

.resume-box {
    height: 100%;
    padding: 7em 10em;
}

.resume-box-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.resume-box h1 {
    font-size: 8em;
    font-weight: normal;
    padding-bottom: 1em;
}

.box-title {
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
}

.resume-text-box {
    height: 15em;
    width: 40em;
}

.resume-text-box p {
    font-size: 1em;
    font-family: 'exo';
    padding: 0.2em 1em;
}

.resume-text-box h2 {
    font-weight: normal;
    font-size: 1.2em;
    padding: 1em;
}


/*-------Resume section end-------*/


/*-------Contact section start-------*/

#contact {
    width: 100vw;
    height: 150vh;
}

.contact-box {
    height: 100%;
    padding: 70px 200px;
    ;
}

.contact-box h1 {
    font-size: 110px;
    font-weight: normal;
}

.contact-box a {
    color: #ffe8be;
}


/*-------Contact section end-------*/


/*-------Footer section start-------*/

footer {
    background-color: #ffe8be;
    width: 100vw;
    height: 20vh;
}

.footer-box {
    background: #ffe8be;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.footer-box a {
    color: #000;
}

.social-media-nav a::before,
.social-media-nav a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.social-media-nav a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.social-media-nav a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.social-media-nav a:hover::before,
.social-media-nav a:hover::after,
.social-media-nav a:focus::before,
.social-media-nav a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}


/*-------Footer section end-------*/