@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Ultrabold.woff2') format('woff2'),
        url('../font/MonumentExtended-Ultrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Extended';
    src: url('../font/MonumentExtended-Regular.woff2') format('woff2'),
        url('../font/MonumentExtended-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../font/Exo-Bold.woff2') format('woff2'),
        url('../font/../font/Exo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../font/Exo-Light.woff2') format('woff2'),
        url('../font/Exo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../font/Exo-Medium.woff2') format('woff2'),
        url('../font/Exo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo';
    src: url('../font/Exo-Black.woff2') format('woff2'),
        url('../font/Exo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}