* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title p {
    color: #999;
    font-size: 14px;
}

.section-title h1 {
    color: ##363636;
    font-size: 40px;
}

header {
    height: 100vh;
    background-image: url(../img/header-bg.jpeg);
    background-position: center;
    background-size: cover;
}

header .top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

header .top-info i {}

header .top-info span {
    font-size: 14px;
    cursor: pointer;
    padding: 20px 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

header .top-info span a {
    color: #fff;
    transition: 1s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

header .top-info span a:hover {
    color: #db2d2e;
}

header .top-info-left {
    display: flex;
    align-items: center;
}

header .top-info-left span {
    padding-right: 15px;
}

header .top-info-left i {
    padding-right: 5px;
}

header .top-info-right span {
    padding-left: 15px;
}

header .top-info-right i {
    padding-right: 5px;
}

header nav {}

header nav img {
    height: 28px;
}

header nav ul li a {
    text-transform: uppercase;
    color: #fff;
    transition: 1s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

header nav ul li a:hover {
    color: #db2d2e;
}

header nav ul li a button {
    border: none;
    color: #fff;
    background-color: #db2d2e;
    padding: 5px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

header nav ul li a button:hover {
    background-color: #505050;
}

.slider-text {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.slider-text h1 {
    font-size: 70px;
    padding: 10px;
    font-weight: 700;
}

.slider-text h2 {
    font-size: 30px;
    font-weight: 500;
}